#!C:\Users\Zeal\AppData\Local\Programs\Python\Python39\python

#!/usr/bin/python3
# COMP3311 21T3 Ass2 ... print list of rules for a program or stream

import sys
import psycopg2
import re
from helpers import getProgram, getStream

# define any local helper functions here
def courses_detail(tup):
    courses = tup[5].split(',')
    for course in courses:
        print('- ', end='')
        if tup[2] == 'stream':
            cur.execute("select name from streams where code = %s", [course])
            result = cur.fetchone()
            print(course, result[0])
        elif tup[2] == 'subject':
            if ';' not in course:
                cur.execute("select name from subjects where code = %s", [course])
                result = cur.fetchone()
                print(course, result[0])
            else:
                course = course.strip('{}').split(';')
                for i in range(len(course)):
                    cur.execute("select longname from subjects where code = %s", [course[i]])
                    result = cur.fetchone()
                    print(course[i], result[0])
                    if i != len(course)-1:
                        print('  or ', end='')

# set up some globals

usage = f"Usage: {sys.argv[0]} (ProgramCode|StreamCode)"
db = None

# process command-line args

argc = len(sys.argv)
if argc < 2:
    print(usage)
    exit(1)
code = sys.argv[1]
if len(code) == 4:
    codeOf = "program"
elif len(code) == 6:
    codeOf = "stream"

try:
    db = psycopg2.connect("dbname=mymyunsw")
    if codeOf == "program":
        progInfo = getProgram(db, code)
        if not progInfo:
            print(f"Invalid program code {code}")
            exit()
        cur = db.cursor()
        cur.execute("select * from Q2_program_info where programCode = %s", [code])
        tup = cur.fetchone()
        programInfo = str(tup[0]) + ' ' + tup[1] + ', ' + \
                str(tup[2]) + ' UOC, ' + str(tup[3] / 12) + ' years\n' + \
                '- offered by ' + str(tup[4])
        print(programInfo)
        print("Academic Requirements:")
        cur.execute("select * from Q2_streams_courses where programCode = %s", [code])
        for tup in cur.fetchall():
            if tup[1] != None:
                output = str(tup[1]) + ' '
            else:
                output = 'all '
            if tup[2] == 'stream':
                output += 'stream(s) from '
            elif tup[2] == 'subject' and tup[1] == None:
                output += 'courses from '
            elif tup[2] == 'subject' and tup[1] != None:
                output += 'UOC of '
            output += tup[3]
            print(output)

            if tup[4] != 'pattern':
                courses_detail(tup)
            else: # Nothing need to print with gdefby pattern
                pass


    elif codeOf == "stream":
        strmInfo = getStream(db, code)
        if not strmInfo:
            print(f"Invalid stream code {code}")
            exit()
        # print(strmInfo)  #debug
        # List the rules for Stream
        # ... add your code here ...

except Exception as err:
    print(err)
finally:
    if db:
        db.close()


